.stop-watch{
  height: 12vh;
  width: 12vw;
  background-color: #0d0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  top: 134px;
  right: 10px;
  border: whitesmoke 2px solid;
  border-radius: 50%;
}